.container {
    &__title {
        font-size: 2em;
        font-weight: 700;
    }

    &__details {
        margin-top: .5rem;
        font-size: 1.5em;
    }

    & > * {
        margin-top: 1rem;

        &:first-child {
            margin-top: 0;
        }
    }
}